<h1>Places You've Been</h1>

<p>
  Here's where you've been:
</p>

<ul>
  <!-- Loop that shows place names -->
</ul>

<p>
  Input a new place:
</p>

<form action="/success" method="post">
  <label for="place_name">Place Name</label>
  <input type="text" name="place_name" id="place_name">

  <button type="submit">Add to Place List</button>
</form>
